.fondo {
    background-color: #20c997;
}
.form {
    display: grid !important;
    justify-content: right !important;
    align-items: stretch !important;
    size: 1rem !important;
    background-color: aqua !important;

}