* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  font-family: 'Dongle', sans-serif;
  padding: 1rem;
}

.displayflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

p {
  color: white;
  font-family: "Dongle", sans-serif;
  
}

.Color{
  background-color: rgba(255, 115, 0, 0.521);
}

.subrayado {
  text-decoration: none;
  color: white;
}

.parallax {
  background-image: url("../imagenes/bullet.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 50px;
}
.footercolor {
  color: white;
  justify-content: space-around;
}

#grilla { display: grid; }
@media screen and (min-width: 1024px) {
  #grilla {
            grid-template-columns: repeat(3, 1fr);
      }
      .border {
      border: 4px solid black;
      background-color: green;
     }
    }
@media screen and (min-width: 768px) {
	#grilla {
            grid-template-columns: repeat(4, 1fr);
      }
      .border {
    	border: 4px solid black;
    	background-color: blue;
     }
    }
   
   
   
   
   
   
   
   
   
    
    
    
    
    
    
    
    
    