* {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: black;
  font-family: "Dongle", sans-serif;
  padding: 1rem;
}
a {
  transition: background-color 0.5s;
}

a:hover {
  color: orange;
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
}

.displayflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

p {
  color: white;
  font-family: "Dongle", sans-serif;
}

.Color {
  background-color: rgba(255, 115, 0, 0.5);
}

.subrayado {
  text-decoration: none;
  color: white;
}

.parallax {
  background-image: url("../imagenes/bullet.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 50px;
}
.footercolor {
  color: white;
  justify-content: space-around;
}
